<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Student - Absences</title>
</head>
<body>
<h2 th:text="${name}"/>
<h3 th:text="${id}"/>
<table>
    <tr>
        <td>Subject</td>
        <td></td>
        <td>Quantity</td>
    </tr>
    <tr th:each="absence : ${absences}">
        <td th:text="${absence.subject}"/>
        <td></td>
        <td th:text="${absence.quantity}"/>
    </tr>
</table>
</body>
</html>