<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Student</title>
</head>
<body>
    <b>Name: </b> <div th:text="${student.name}"/><br/>

    <b>Id: </b> <div th:text="${student.id}"/><br/>

    <b>Course: </b> <div th:text="${student.course.name}"/><br/>

    <b>Subjects: </b>
    <table>
        <tr th:each="ss : ${studentSubjects}">
            <td th:text="${ss.subject.name}"/>
        </tr>
    </table>
</body>
</html>