<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Insert Absence</title>
</head>
<body>
<h2>Insert Absence:</h2>
<form action="/absence/inserted" method="POST">
    Student ID: <br/>
    <input type="text" name="student" required=""/>
    <br/><br/>
    Subject: <br/>
    <input type="text" name="subject" required=""/>
    <br/><br/>
    Quantity: <br/>
    <input type="text" name="quantity" required=""/>
    <br/>
    <br/>
    <input type="submit" name="submit" value="Insert"/>
</form>

</body>
</html>