<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Insert Grade</title>
</head>
<body>
    <h2>Insert Grade:</h2>
    <form action="/grade/inserted" method="POST">
        Student ID: <br/>
        <input type="text" name="student" required=""/>
        <br/><br/>
        Subject: <br/>
        <input type="text" name="subject" required=""/>
        <br/><br/>
        Average: <br/>
        <input type="text" name="average" required=""/>
        <br/>
        <br/>
        <input type="submit" name="submit" value="Insert"/>
    </form>

</body>
</html>