<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Teacher | Absences Lists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/skel.min.js" th:src="@{/js/skel.min.js}"></script>
    <script src="../static/js/skel-layers.min.js" th:src="@{/js/skel-layers.min.js}"></script>
    <script src="../static/js/init.js" th:src="@{/js/init.js}"></script>
    <noscript>
        <link rel="stylesheet" href="../static/css/skel.css" th:href="@{/css/skel.css}"/>
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" href="../static/css/style-xlarge.css" th:href="@{/css/style-xlarge.css}"/>
    </noscript>
</head>

<body>
<!-- Header -->
<header id="header">
    <h1><a href="#">TM College</a></h1>
    <nav id="nav">
        <ul>
            <li><a th:href="@{/teacher-homepage}">Homepage</a></li>
            <li><a th:href="@{/teacher-{id}-subjects(id=${teacherObj.id})}">Subjects</a></li>
            <li><a th:href="@{/teacher-{id}-absences-list(id=${teacherObj.id})}">Absences List</a></li>
            <li><a th:href="@{/home}">Logout</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major">
            <h2>Subjects</h2>
        </header>

        <ul>
            <li th:each="subj : ${subjects}">
                <i><a th:href="@{/teacher-{id}-absences-list-subject-{subjectId}(subjectId=${subj.id},id=${teacherObj.id})}" th:text="${subj.name}"></a></i>
            </li>
        </ul>

    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div>
                <ul class="copyright">
                    <li>&copy; Tiffany Mark - 2016</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>